


{% extends 'base/base.html' %}

{% block title %}Add New Post{% endblock %}

{% block content %}
<div class="container bg-lightgreen mt-1 ">
        <div class="row ">
            {% if messages %}
            {% for message in messages %}
            <div class="bg-dark">
                <h2 class="text-{{message.tags}} text-center">{{message}} </h2>
            </div>
            {% endfor %}
            {% endif %}



            <form action="" method="post" novalidate>

            {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="col-sm-8 p-2 mt-2 mb-1 text-center text-danger">
                        <h3>{{form.non_field_errors | striptags}}</h3>
                    </div>
                {% endif %}
            {% for field in form %}
            <div class="offset-sm-1 col-sm-9 p-2 mt-2 mb-1">
                {{field.label_tag }}{{field}}
                {% if field.errors %}
                <br> <span class="text-warning">{{field.errors | striptags}}</span>
                {% endif %}
            </div>
            {% endfor %}
                <div class="col-sm-11 p-2 mt-2 mb-1 text-center" >
                    <input type="submit" value="Create" class="btn btn-success">
            </div>

        </form>



        </div>



</div>
{% endblock %}