

{% extends 'base/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container bg-lightgreen mt-1">
    <div class="row">

        <div class="offset-sm-3 col-sm-6 bg-whitegreen p-2 mt-2 mb-3 text-center">
            <h1>What is Django ?</h1>
            <p>Django is Considered to be the framework of python. It is backend framework Which has a lot to</p>
        </div>
         <div class="offset-sm-3 col-sm-6 bg-whitegreen p-1 mt-2 mb-3 text-center">
            <h1>What is Django ?</h1>
            <p>Django is Considered to be the framework of python. It is backend framework Which has a lot to</p>
        </div>
         <div class="offset-sm-3 col-sm-6 bg-whitegreen p-1 mt-2 mb-3 text-center">
            <h1>What is Django ?</h1>
            <p>Django is Considered to be the framework of python. It is backend framework Which has a lot to</p>
        </div>
         <div class="offset-sm-3 col-sm-6 bg-whitegreen p-1 mt-2 mb-3 text-center">
            <h1>What is Django ?</h1>
            <p>Django is Considered to be the framework of python. It is backend framework Which has a lot to</p>
        </div>

    </div>
</div>
{% endblock %}