


{% extends 'base/base.html' %}

{% block title %}Create Your Id{% endblock %}

{% block content %}
<div class="container bg-lightgreen mt-1 ">
        <div class="row ">
            {% if messages %}
            {% for message in messages %}
            <div class="bg-dark">
                <h2 class="text-{{message.tags}} text-center">{{message}} </h2>
            </div>
            {% endfor %}
            {% endif %}
            <div class="offset-sm-3 col-sm-6 bg-formcolor p-1">


            <form action="" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="col-sm-11 p-2 mt-2 mb-1">
                {{field.label_tag }}{{field}}
                {% if field.errors %}
                <br> <span class="text-warning">{{field.errors | striptags}}</span>
                {% endif %}
            </div>
            {% endfor %}
                <div class="col-sm-11 p-2 mt-2 mb-1">
                    <input type="submit" value="Signup" class="btn btn-success">
            </div>

        </form>

                </div>

        </div>



</div>
{% endblock %}