
*{
    margin: 0;
    padding: 0;
    }
.bg-lightgreen{
background-color:#8ABF83;
}
.bg-whitegreen{
background-color:#BBDAB7;
}

.bg-formcolor{
background-color:#7CAD76;}
.bg-aboutcolor{
background-color: #333300;
}


